<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 pt1">
            <h1>Servidores de juego en Fivem</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, labore. Aliquid incidunt corporis impedit natus aperiam nostrum doloribus nam, ad molestiae blanditiis, ab accusantium similique, nisi minima vero voluptatem facere.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 pt2">
            <img src="" class="img-fluid img-proyecto">
        </div>
        <div>
            <h1>Proyecto local para municipalidad</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente illo delectus voluptatum veniam cum! Ullam delectus alias iste labore quaerat aliquid fugit itaque a omnis vero, vel nostrum esse molestias.</p>
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h1>Instruccionador de voz con twitch (API)</h1>
            <p>Script el cual detecta tu voz en tiempo real, el cual solo se activa al nombrarlo, y este cambia funciones en los canales mas rapido por comandos de voz</p>
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h1></h1>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</div>